@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
}

window.topbar#waybar {
    background: transparent;
    opacity: 0.85;
}

window.sidebar#waybar {
    background: transparent;
    color: @text;
    opacity: 0.85;
}

window#waybar.empty #window {
    background: transparent;
}

#workspaces button {
    padding: 0px;
    background: @subtext0;
    color: @base;
    /* margin-right: 5px; */
}

#workspaces button.active {
    background: @subtext0;
}

#workspaces button.focused {
    background: @subtext0;
    color: @base;
    /* border-radius: 10px; */
}

#workspaces button.urgent {
    background: @subtext0;
    color: @red;
    /* border-radius: 10px; */
}

#workspaces button:hover {
    color: @crust;
    background: @overlay2; 
    /* border-radius: 10px; */
}

#battery,
#temperature,
#cpu,
#memory,
#custom-spotify,
#custom-logout {
    border-radius: 2px;
    background: @base;
    padding: 10px 0px;
    margin: 0px 0px;
    border-top: 2px dashed @text;
    border-bottom: 2px dashed @text;
}

#window,
#clock,
#workspaces,
#pulseaudio,
#tray,
#backlight {
    border-radius: 5px;
    color: @base;
    padding: 2px;
    margin: 2px;
    border: none;
}

#backlight {
    /* border-radius: 10px 0px 0px 10px; */
    background: @subtext1;
    border-bottom: 0px;
}

#tray {
    /* border-radius: 10px; */
    /* margin-right: 10px; */
    border-top: 0px;
    background: @subtext1;
}

#workspaces {
    color: @base;
}

#cpu {
    /* border-radius: 0px 10px 10px 0px; */
    color: @overlay2;
    border-bottom: 0px;
}

#memory {
    /* border-radius: 10px 0px 0px 10px; */
    color: @overlay1;
    border-bottom: 0px;
    margin-top: 5px;
}

#window {
    background: @text;
}

#clock {
    /* border-radius: 10px 10px 10px 10px; */
    background: @overlay2;
}

#temperature {
    color: @subtext0;
    /* border-radius: 10px 0px 0px 10px; */
    border-bottom: 0px;
}

#pulseaudio {
    background: @subtext0;
    border-bottom: 0px;
}

#pulseaudio.microphone {
    background: @overlay2;
    /* border-radius: 0px 10px 10px 0px; */
}

#battery {
    color: @subtext1;
    /* border-radius: 0px 10px 10px 0px; */
}

#custom-spotify {
    color: @text;
}

#custom-logout {
    color: @subtext1;
    margin-bottom: 5px;
}

#custom-arrow-left {
    margin-top: 5px;
}
